<%- include('partials/header') -%>
<div class="topnav">
    <a href="/login">Login</a>
    <a href="/staffs">Staffs</a>
    <a href="/order">Order</a>
    <a href="/payment?dssp=">Payment</a>
    <a href="/products">Products</a>
    <a href="/" style="float:right">Home</a>
  </div>
